<%= render 'shared/hero' %>
<section class="my-5">
  <div class="container">
    <h2 id="cocktails">Cocktails</h2>
    <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-6 col-lg-4">
        <%= render 'shared/card', id: cocktail, name: cocktail.name, description: cocktail.description %>
      </div>
    <% end %>
    </div>
  </div>
</section>