body {
  -webkit-font-smoothing: antialiased;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex: 1;
  }
}

::selection {
  background-color: $blue;
  color: $white;
}