<%= link_to cocktail_path(id), class: 'card card--animation my-3' do  %>
  <% unless photo.blank? %>
    <%= cl_image_tag photo, width: 510, alt: name, class: 'card-img-top' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= name %></h5>
    <p class="card-description"><%= description %></>
  </div>
<% end %>
