  <footer class="footer">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="legal">
          <p class="my-0">&copy; All rights reserved.
            <span></span> <%= Time.now.year %>
          </p>
        </div>
        <a href="#" class="text-white footer-link js-scroll-to-top">back to top 👆</a>
      </div>
    </div>
  </footer>