<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title">Best cocktails recipes</h1>
      <p>There's a drink for every mood or occasion. Find your favorite cocktail recipes below. Or think outside the glass and try a brand new drink. Your new favorite could be a shake or stir away.</p>
      <a href="#" class="btn btn-success btn-lg btn-rounded js-hero-scroll">Find your new favorite drink</a>
    </div>
  </div>
</section>